.app {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
}

.logo {
  height: 120px;
  margin-bottom: 20px;
}

h1 {
  color: #e66200;
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  color: #444;
}
